<<<<<<< HEAD
=======
@font-face {
  font-family: 'ChristmasTitle';
  src: url('./Font/MerryChristmasFlake.ttf');
}

@font-face {
  font-family: 'ChristmasHarrigton';
  src: url('./Font/HARRINGT.TTF');
}

@font-face {
  font-family: 'ChristmasStar';
  src: url('./Font/MerryChristmasStar.ttf');
}
>>>>>>> 383b2567072f2695fa8adca9d47b5284354c66bd
