@font-face {
  font-family: "ChristmasTitle";
  src: url("./Font/MerryChristmasFlake.ttf");
}

@font-face {
  font-family: "ChristmasHarrigton";
  src: url("./Font/HARRINGT.TTF");
}

@font-face {
  font-family: "ChristmasStar";
  src: url("./Font/MerryChristmasStar.ttf");
}
body{
  margin: 0;
  background-color: rgb(128, 20, 20);
}
