@font-face {
  font-family: 'ChristmasTitle';
  src: url('./Font/MerryChristmasFlake.ttf');
}

@font-face {
  font-family: 'ChristmasHarrigton';
  src: url('./Font/HARRINGT.TTF');
}

@font-face {
  font-family: 'ChristmasStar';
  src: url('./Font/MerryChristmasStar.ttf');
}

*{
  margin: 0.5%;
}