div.footer {
  background-color: #13521f;
  text-align: center;
  color: beige;
  height: 100px;
  align-items: center;
  padding-top:1px;
  font-family: "ChristmasHarrigton";
  color: beige;
  text-shadow: 2px 2px #ef5236;
  font-size: 25px;
}